#  Local .terraform directories
.terraform/
.terraform.lock.hcl
**/builds

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# tardigrade-ci
tardigrade-ci/
.tardigrade-ci

# terraform lock file
.terraform.lock.hcl

# Cache created by pytest
__pycache__

#ide
.idea

#macOS local dir meta file
.DS_Store
